* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  background: url(background.jpg) fixed no-repeat;
  position: relative;
}
/* .box {
  margin: 0 auto;
  position: relative;
  position: relative;
} */
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50% -50%); */
  /* top: 700px; */
}
.box li {
  float: left;
  width: 60px;
  height: 60px;
  border: 3px #000 solid;
  border-radius: 5px;
  margin: 0 5px;
  text-align: center;
  /* line-height: 54px; */
  padding-top: 10px;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  font-weight: 700;
}

.box .playing {
  transition: all 0.7s;
  border-color: yellow;
  background-color: rgba(0, 0, 0, 0.3);
}
/* .playing:hover {
  border-color: yellow;
  background-color: rgba(0, 0, 0, 0.3);
} */
